# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [ ]:
# for keyword, variable interator/countert

dog = "shadow"

for letter in dog:
    print(letter)

names = ['ryan', 'alex', 'chuck','salim', 'patrick', 'ethan']

for name in names:
    print(name)
    
numbers = [1, 2, 34, 4, 6, 7]  

for num in numbers:
    print(num)
    
    
name = "Ryan Rhoades"

lemgth = len(name)
print(lenght)

for i in range(len(length)):
    print(i)

##### Using 'in' keyword

In [3]:
# with conditionals in checks for membership

#if 'p' in word:
  
#   print('its here')

for i in range(15):
    print(i**2)
    
name = "Barney"    

name2 ="baby bop"

for letter in name:
    print("oh neat, same letter")
    else:
        print('not the same letter')

SyntaxError: invalid syntax (701265535.py, line 16)

##### Continue Statement

In [30]:
# continue will move on to next iteration

for i in range(20):
    print(i)

for i in range(20):
    if i == 5 or 1==6:
        continue
print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
19

##### Break Statement

In [32]:
# breaks stop a loop if certian consdition is met

for i in range(20):
    if i == 6:
        break
        print(i)

##### Pass Statement

In [33]:
# mostly used as a place holder

for i in range(20)
    pass

word = "midi keyboard"

for letter in word:
    print(letter)
    
def get_total():
    pass

SyntaxError: expected ':' (2188562042.py, line 3)

##### Double For Loops

In [7]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ",j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [8]:
# while keyword then a condition
# while loop will run based on the codition

counter = 0
# 
while counter <11:
    counter += 1
    print(counter)

    
print(\n)

num = 0
while num <15:
    print(num**2)
    num += 1

1
2
3
4
5
6
7
8
9
10
11

In [10]:
#
#Breaks with while loop


num = 0
while num < 15:
    num += 1
    if num == 7:
        break
    print(num)

names = ['a', 'b', 'c', 'd']

1
2
3
4
5
6

##### looping 'While True'

In [12]:
# true as a condition for a while loop to run
#
#

game_over = False
while True:
    print("infenite loop")
    if game_over == False:
        break

infenite loop

##### While & For Loops Used Together

In [34]:
#
#
#
j = 0

while j < 10:
    print("\nWhile loop iteration: + str"(j))
    
    for i in range(4):
        print("for loop iterqation: + str"(i))
    j += i

<>:7: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:10: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:7: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:10: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
C:\Users\chuck\AppData\Local\Temp\ipykernel_18932\1651059413.py:7: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print("\nWhile loop iteration: + str"(j))
C:\Users\chuck\AppData\Local\Temp\ipykernel_18932\1651059413.py:10: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print("for loop iterqation: + str"(i))
C:\Users\chuck\AppData\Local\Temp\ipykernel_18932\1651059413.py:7: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print("\nWhile loop iteration: + str"(j))
C:\Users\chuck\AppData\Local\Temp\ipykernel_18932\1651059413.py:10: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print("for loop iterqation: + str"(i))
C:\Users\chuck\AppData\Local\Temp\ipykernel_18932\1651059413.py:7: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print("\nWhile loop iteration: + str"(j))
C:\Users\chuck\AppData\Local\Temp\ipykernel_18932\1651059413.py:10: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print("for loop iterqation: + str"(i))
C:\Users\chuck\AppData\Local\Temp\ipykernel_18932\1651059413.py:7: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print("\nWhile loop iteration: + str"(j))
C:\Users\chuck\AppData\Local\Temp\ipykernel_18932\1651059413.py:10: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print("for loop iterqation: + str"(i))

TypeError: 'str' object is not callable

##### The Range Function

In [11]:
# rangr(start, stop, step) - step only required peramitor 
#+ start defalt to o
# step  will defalt to 1

#stop
for i in range(5):
    print(i)
    
print("\n")
    
#start 


for i in range(1, 10)
   print(i)  
print("\n")

on phone pic

0
1
2
3
4
5
6
7
8
9


1
2
3
4
5
6
7
8
9


1
4
7

### String Manipulation Exercise

In [35]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
for name in names:
    print(name.strip().title())


#print(name.strip())

#print(name.lower())

Connor
Max
Evan
Jordan

In [15]:
Connor
Max
Evan
Jordan

Connor
Max
Evan
Jordan

Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']
Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']

Connor Max Evan Jordan None

## Lists

##### Declaring Lists

In [22]:
#

our_empty_list = [] # <---empty list

names = ['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad']

numbers = [1, 2, 3, 4, 5, 6 ,7]
print(numbers)

[1, 2, 3, 4, 5, 6, 7]

##### Indexing a List

In [25]:
# [start:stop:step] -->[-1]
#our_list[2]


#single index
names = ['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad']
print(names[2])

#print starting at one and going to the end of the list
print(names[1:])

new_list = names[1:]
print(new_list)

# print a list starting at begging of list and going to a speciffied spot
print(names[:2])


# print starting at index 1 and steping by 2
print(names[1:2])
copy_list = names[1::2]
print(copy_list)

#




# reversing a list starting at the back and printing the list from back to front

print(names[::-1])


#[-1]

Austin
['Tenzin', 'Austin', 'Dylan', 'Mohammad']
['Tenzin', 'Austin', 'Dylan', 'Mohammad']
['Ryan', 'Tenzin']
['Tenzin']
['Tenzin', 'Dylan']
['Mohammad', 'Dylan', 'Austin', 'Tenzin', 'Ryan']

### List Methods

##### .append()

In [36]:
# .append will allways adds to back of list

names = ['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad']
names.append('ben')
print(names)


print(names[:2:-1])

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'ben']

In [33]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
title_list = []
for name in names:
    title_list.append(name.title(.strip))

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Bill', 'Ted']
['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Bill', 'Ted', 'Bill', 'Ted']

##### .insert()

In [40]:
# takes an elemet and index

names = ['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad']

names.insert(3, 'ryan')
print(names)

['Ryan', 'Tenzin', 'Austin', 'ryan', 'Dylan', 'Mohammad']

##### .pop()

In [42]:
# by default remove the last item in a list
# otherwise it wiii

names = ['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad']
bye_bye_name = names.pop(3)
print(bye_bye_name)

Dylan

##### .remove()

In [44]:
names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

print(names)

names.remove('bob')

print(names)

['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

ValueError: list.remove(x): x not in list

In [50]:
names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

while "Bob" in names:
    names.remove('Bob')
print(names)

['Billy', 'Berry', 'Bertha', 'Bert']

In [ ]:
for name in names:
    if name == 'Bob':
        names.remove('Bob')
print(names)

In [49]:
names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

for i in range(len(names)):
    if names[i] == 'Bob':
        names.remove(names[i])

IndexError: list index out of range

['Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

### Working With Lists

##### del()

In [51]:
# index to remived, not value this can cause indexing errors

names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']
del(names[1])
print(names)

['Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

##### min()

In [53]:
# return a smallest item in a list

numbers = [1, 2, 3, 4, 5, 6, 7, 8,]
print(min(munbers)

SyntaxError: incomplete input (874115122.py, line 5)

##### max()

In [63]:
# returns llargest item from list

10
Zoop

##### sum()

In [54]:
# returns sum of all numbers


numbers = [1, 2, 3, 4, 5, 6, 7, 8,]
print(sum(numbers))

36

##### sorted()

In [67]:
numbers = [5, 1, 17, 12, 9, 6, 20, 3]
sorted_nums = sorted(numbers
                    print(sorted_nums))

[-12, 1, 3, 5, 6, 10]
[-12, 1, 3, 5, 6, 10]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [56]:
numbers = [5, 1, 17, 12, 9, 6, 20, 3]
numbers.sort(reverse=True)
print(numbers)

[20, 17, 12, 9, 6, 5, 3, 1]

##### Copying a List

In [58]:
# [:] copy a list doent alter original list

numbers = [3, 6, 1, 5, 10, -12]
new_list = numbers[:]
print(new_list)
print(numbers)

[3, 6, 1, 5, 10, -12]
[3, 6, 1, 5, 10, -12]

##### Looping Through Lists

In [82]:
# first way looping by value second is looping by index
names = ['Han Solo']
for name in names:
    print(name)
print("\n")

for name in names:
    if name == "Han Solo":
        print(name)
print("\n")

for i in range(len(names)):
    print(name[1])
    
    
(print"\n")


#enumerate 
for i, v in enumerate(names):
    print(i,v)
    
print("\n")

for i, v in enumerate(names):
    if v == "mace Windu"
        print(i)

Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu
1
1
0 Han Solo
1 Leia Organa
2 Luke Skywalker
3 Lando Calrissian
4 Mace Windu

##### 'in' keyword

In [85]:
#specifing list that are interating through

Ranger

nope
nope
Tenzin
nope
nope
nope

IndentationError: expected an indented block (2703666223.py, line 3)

##### 'not in' keyword

Frederick is not a Ranger, booooo Frederick

##### Checking an Empty List

That is an empty list. Would ya just look at it
no

##### Removing Instances with a Loop

In [97]:
while "Alex" in mames:
    names.remove("Alex")
    
print(names)

['Alex', 'Tenzin', 'Austin', 'Jeong', 'Nate']
['Ryan', 'Alex', 'Tenzin', 'Jeong', 'Nate']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [59]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
new_list = []

for  i in range(len(names)):
    if names[i] not in new_list:
        new_list.append(names[i])

print(new_list)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

tucker sam deliah connor bob evan max 2 3 4 kevin

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

['connor', 'max', 'evan', 2, 3, 4, 'bob', 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [16]:
num = [2, 4, 6, 8, 10, 3, 5, 7, 9 11]

 



num_squared = [x**2 for x in nums]
print(num_squared)


more_squared = n**2 for num in nums if %2 ==0

print(nums)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1950889282.py, line 1)

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [1]:
pet= ['elliot', 'eyo', 'henri', 'lucy', 'eyeball','astro', 'jimmy', 'kino', 'pi','penny']


letters_names =

SyntaxError: invalid syntax (3232096261.py, line 4)

['sam', 'sean']
['sam', 'sean']

[0, 1, 4, 3, 16, 5, 36, 7, 64, 9]

[0, 1, 4, 3, 16, 125, 36, 7, 64, 9]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [133]:
tup_1 = (1, 2, 3)
tup_2 = 4, 5, 6

print(tup_1)
print(tup_2)






for i in range(len(tup_2)):
    print(tip_2[i])

(1, 2, 3)
(4, 5, 6)
<class 'tuple'>
2
6
tuple length 3
1
2
3
4
5
6

##### sorted()

In [142]:
tup = (20, 5, 1, 10, 95, 123)

print(sorted(tup))

some_list = [5, 12, 654, 234, 7643, 34]

# combine_list = some_list + tup

new_tup = tuple(some_list)

new_new_tup = new_tup + tup
print(new_new_tup)

[1, 5, 10, 20, 95, 123]
(5, 12, 654, 234, 7643, 34, 20, 5, 1, 10, 95, 123)

In [149]:
# List Concatenation

my_list = [1, 2, 3, 4, 5]
my_list2 = [2, 3, 4, 5, 13, 12, 16, 1234]

my_list3 = my_list + my_list2

print(my_list3)

[1, 2, 3, 4, 5, 2, 3, 4, 5, 13, 12, 16, 1234]

In [ ]:
tup = (20, 5, 1, 10, 95, 123)
print(sorted(tup))

##### Adding values to a Tuple

In [148]:
print(tup)

tup = tup + (6, )
print(tup)

my


tup = (20, 54, 60, 23, 11)

tup = tup =(6,)
print(tup)

(20, 5, 1, 10, 95, 123, 5, 5, 5)
(20, 5, 1, 10, 95, 123, 5, 5, 5, 6)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [2]:
all_numbers = [1,11,14,5,8,9]

for number in all_numbers:
    
    if number < 10:
        
        print(number)

1
5
8
9

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [5]:

list_1 = [1,2,3,4,5,6]

list_2 = [3,4,5,6,7,8,10]

list_3 = sorted(list_1 + list_2)

print(list_3)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [5]:
for numbers in range(15):
    
    print(numbers**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

In [26]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']


check = 'A'
 

("The original list : " + str(names_list))


res = [idx for idx in test_list if idx[0].lower() == check.lower()]


print("The list of matching first letter : " + str(res).title())
 



# #expected output = ['Amy', 'Alex']

# for name in names_list:
    
#      for i, "a" in enumerate(names):
#     #print(i,a)
#     #print(name.strip().title())

The list of matching first letter : ['Akash', 'Akshat']

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>

In [4]:

for all_numbers in range(2, 101):

    for i in range(2, all_numbers):
        
        if (all_numbers % i) == 0:
            
            break
    else:
        
        print(all_numbers)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97